<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script type="text/javascript" src="/assets/typed.min.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/main.css">
<link rel="stylesheet" type="text/css" href="/assets/animate.min.css">
<body>
<div class="embed-responsive embed-responsive-16by9" id="abcd">
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/G8WeAyU26Qs?rel=0&amp;autoplay=1&loop=1&controls=0&amp;showinfo=0&playlist=G8WeAyU26Qs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="cntainer">

<img id="ud1" src="/assets/a1.jpg">

<div class="abc">
</div>

	<div class="tex1">
		<p class="typed"></p>

	</div>

</div>

<link  href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >

<link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >






<script type="text/javascript" src="/assets/main.js"></script>

<div class="container">
<a href="/wishes"><button type="button" class="btn btn-success btn-block">Leave Your Wishes</button></a>
</div>
<div class="container">
<a href="/display"><button type="button" class="btn btn-primary btn-block">View Wishes</button></a>
</div>


</body>
</html>
