<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script type="text/javascript" src="/assets/typed.min.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/main.css">
<link rel="stylesheet" type="text/css" href="/assets/animate.min.css">
 <script src="/assets/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
<body>


<div class="cntainer">

<img id="ud1" src="/assets/a1.jpg">

<div class="abc">
</div>

	<div class="tex1">
		<p class="typed"></p>

	</div>

</div>
<div class="container">
<div class="row" >
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft "  data-wow-delay="0.7s" >
  	<img class="img-thumbnail img-responsive  " id="aa" src="/assets/a10.jpg">
</div>
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft"  data-wow-delay="0.3s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a1.jpg">
</div>
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft"  data-wow-delay="0.2s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a2.jpg">
</div>
<div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft"  data-wow-delay="0.1s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a2.jpg">
</div>
</div>

<div class="row" >
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInRight "  data-wow-delay="0.1s">
  	<img class="img-thumbnail img-responsive " id="aa" src="/assets/a11.jpg">
</div>
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInRight"  data-wow-delay="0.3s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a3.jpg">
</div>
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInRight"  data-wow-delay="0.5s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a4.jpg">
</div>
<div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInRight"  data-wow-delay="0.7s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a2.jpg">
</div>
</div>

<div class="row" >
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft "  data-wow-delay="0.7s">
  	<img class="img-thumbnail img-responsive " id="aa" src="/assets/a5.jpg">
</div>
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft "  data-wow-delay="0.5s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a6.jpg">
</div>
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft "  data-wow-delay="0.3s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a7.jpg">
</div>
<div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft"  data-wow-delay="0.1s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a2.jpg">
</div>
</div>

<div class="row" >
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInRight "  data-wow-delay="0.1s">
  	<img class="img-thumbnail img-responsive " id="aa" src="/assets/a8.jpg">
</div>
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInRight "  data-wow-delay="0.3s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a9.jpg">
</div>
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInRight "  data-wow-delay="0.5s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a10.jpg">
</div>
<div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInRight"  data-wow-delay="0.7s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a2.jpg">
</div>
</div>

<div class="row" >
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft "  data-wow-delay="0.7s">
  	<img class="img-thumbnail img-responsive " id="aa" src="/assets/a11.jpg">
</div>
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft "  data-wow-delay="0.5s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a12.jpg">
</div>
  <div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft "  data-wow-delay="0.3s""><img class="img-thumbnail img-responsive " id="aa" src="/assets/aaa.jpeg">
</div>
<div  class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow bounceInLeft"  data-wow-delay="0.1s"><img class="img-thumbnail img-responsive " id="aa" src="/assets/a2.jpg">
</div>
</div>
</div>

<link  href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >

<link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >






<script type="text/javascript" src="/assets/main.js"></script>

<div class="container">
<a href="/wishes"><button type="button" class="btn btn-success btn-block">Leave Wishes</button></a>
</div>
</body>
</html>
