<html>

<head></head>

<body>
    ARTICLE ON TERRORISM 1 (300 WORDS)
Introduction

Terrorism has emerged as a major threat to the unity and integrity of India. The masterminds of terror seek to achieve their objectives by creating an atmosphere of fear with a view to destabilize India. The major regions affected by terrorist activities in India include Jammu and Kashmir, east-central and south-central India (Naxalism) and the Seven Sisters (North-East).

Causes behind terror:

Unemployment has been one of the major causes due to which terrorist groups lure the young generation easily by providing them hoards of easy money. In return, the youngsters have to spread hatred, and indulge in bloodbath and killings on the street.

Poverty stricken young people belonging to poor socio-economic background are the ultimate target of the ISI, as they get easily influenced to do their bidding in return of easy money.

A Wide Network: India has already been ranked among the top ten terrorism affected countries in the world. Apart from radical terrorism affected states such as Jammu & Kashmir, Punjab, Tripura, Assam, Nagaland and Manipur, there are other states which have been victims of Naxalite terrorism, which emanated from Naxalbari village in West Bengal through a movement by the landless against the land owners of that village. This movement soon spread across the country.

Currently, there are various terrorist organizations operating in the country in a clandestine manner with their members hard to be recognized. The authorities have established their links with various international terrorism organizations most of which are being operated on a global level to supply arms, ammunition in different countries to destabilize the nation.

Conclusion:

Poverty and unemployment are among the major reasons fuelling the growth of terrorism in India. If we want to curb terrorism, we are required to address the causes which have given rise to radicalization of youth in different parts of the country.

ARTICLE ON TERRORISM 2 (500 WORDS)
Terrorism means the unlawful use of violence (or the threat of violence) intended to create terror for achieving a religious, economic, ideological or political goal, in deliberate disregard of the safety of victims.

According to a report issued by the Global Terrorism Index 2014, India was ranked among the top ten countries greatly affected by terrorism activities.

Causes of terrorism in India

There are several causes of terrorism in India. To begin with, there are political reasons for the growth of terrorism in India. This is primarily seen in The North-East region. The state government there have failed to control and manage large-scale illegal Muslim immigration from Bangladesh.

Economic causes too contribute to terrorism in India. These include rural unemployment, exploitation of landless labourers by those who own land and lack of land reforms. The major states affected by such causes include Madhya Pradesh, Bihar, Orissa and Andhra Pradesh. The absence of land reforms, rural unemployment, exploitation of landless labourers by land owners, economic grievances and perceptions of gross social injustice in these states have given rise to ideological terrorist groups such as the various Marxist/Maoist groups waging a war against the respective state government.

Thirdly, religious causes too lead to terrorism in India. Punjab witnessed the growth of terrorism when certain organisations of Sikhs led by Jarnail Singh Bhindranwale raised the demand for Khalistan, an independent state for Sikhs. Some elements belonging to different organisations shifted to terrorism for the creation of a separate state known as Khalistan for the Sikhs. Similarly, Jammu & Kashmir has been reeling under religious extremism which seeks to appropriate all rights for Muslim majority.

Agencies Fighting Terrorism in India

National Intelligence Wings: Among them, mention can be made of Intelligence Bureau, an internal intelligence agency under the Ministry of Home Affairs; the Research and Analysis Wing, an external intelligence agency under the Cabinet secretariat; the Defence Intelligence, and the intelligence directorate generals of the armed forces.

Physical security agencies: Among them, we have the Central Industrial Security Force, which is responsible for security at airports and sensitive establishments, and the National Security Guards (NSG), a specially trained force, which is called in the wake of emergencies such as hijacking, hostage-taking, etc. Then we have the Special Protection Group (SPG), which is responsible for the security of the prime minister and former prime ministers.

Paramilitary forces: Not to be left behind, forces such as Central Reserve Police Force (CRPF) and the Border Security Force (BSF), assist the police in counter-terrorism operations in times of need.

The Army: The Indian Army has a significant role in India’s fight against terrorism. It has a permanent position in J&K, which is bearing the brunt of large-scale infiltration from Pakistan and the presence of divisive elements within the troubled state.

Conclusion

At the immediate level, terrorism results in loss of lives and livelihood, and destruction of properties. But overall, terrorism creates a negative environment for the growth of trade and commerce, leading to huge losses, recession and unemployment. India needs a strong political will to fight the scourge of terrorism unitedly.

<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'hi', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
</body>
        </html>