<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/main1.css">

<link rel="stylesheet" type="text/css" href="/assets/materialize.min.css">

<body>
 
<div class="hh">
 <h1>
  Leave Your Wishes
 </h1>
</div>
<form method="POST" action="/display" class="col s12">
 <div class="row">
  <div class="input-field col s4">
          <input id="last_name" name="name" type="text" class="validate" REQUIRED>
          <label for="last_name" id="l2">Name</label>
        </div>
      </div>
        </div>
      

      <div class="row" id="as">
        <div class="input-field col s9" >
          <textarea id="textarea1" name="mess1" class="materialize-textarea" REQUIRED></textarea>
          <label for="textarea1" id="l1">Wishes</label>
        </div>
      
  </div>

  <button class="btn waves-effect waves-light btn-block" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
<script src="/assets/materialize.min.js">
<script>
 $('#textarea1').val('New Text');
  M.textareaAutoResize($('#textarea1'));
  </script>
</body>
</html>