

.jumbotron{
	margin-top: 10px;
	padding: 10px;
	height: 200px;
}
h1{
	padding: 30px;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
h2{
	font-family: 'Open Sans', sans-serif;
}
p{
	font-family: 'Open Sans', sans-serif;
}
.card{
	margin-top: 20px;
}